<div class="wrapper container d-flex justify-content-center align-items-center vh-100">
  <div class="row support-card w-100">

    <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
      <h2>Reach Out to Our Support Team</h2>
      <p>Need assistance? Our dedicated team members are here to help.</p>
      <button class="btn btn-custom">Get Support</button>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img src="/assets/images/contact-us/contact-us.png" alt="Support Illustration" class="img-fluid mt-3">
    </div>
  </div>
</div>
