<div class="community">
  <div class="header">
      <img src="assets/images/community/NightMode.png" alt="" class="imgNigh">
      <div class="search">
        <input type="search" placeholder="What are you looking for...">
      </div>
      <div class="notifcation">
        <img src="assets/images/community/notification.png" alt="" class="imgNoti">
        <img src="assets/images/community/messages.png" alt="" class="imgMess">
        <img src="assets/images/community/profile.png" alt="" class="imgPro">
      </div>
   </div>

<!--
*********************************************************
******************** content ****************************
*********************************************************
-->

   <div class="content">
       <!--
        *********************************************************
        ************** content center sid bar *******************
        *********************************************************
        -->
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

         <div class="side-bar">
            <div class="container">
                <aside class="sidebar">
                    <h3>DEPI Community</h3>
                        <div class="menu-item active">
                            <i class="fas fa-home"></i> Home
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-users"></i> Members
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-user-plus"></i> Get Started
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-handshake"></i> Welcome
                        </div>
                        <div class="menu-section">DEPI Tracks Community</div>
                        <div class="menu-item">
                            <i class="fas fa-code"></i> Frontend Web Development
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-cogs"></i> DevOps Engineer
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-cloud"></i> AWS Cloud Specialist
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-mobile-alt"></i> Mobile App Developer
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-bug"></i> Software Tester
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-paint-brush"></i> UI & UX Web Designer
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-drafting-compass"></i> Graphics Designer
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-chart-bar"></i> Data Scientist
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-brain"></i> Generative AI Professional
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-chart-pie"></i> Microsoft Power BI Engineer
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-shield-alt"></i> Cisco Cybersecurity Engineer
                        </div>
                        <div class="menu-section">Career Talks Channel</div>
                        <div class="menu-item">
                            <i class="fas fa-user-graduate"></i> Career Growth
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-chalkboard-teacher"></i> Mentorship
                        </div>
                        <div class="menu-section">Opportunities</div>
                        <div class="menu-item">
                            <i class="fas fa-calendar-alt"></i> DEPI Events
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-globe"></i> Egypt Events
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-comments"></i> DEPI Chat
                        </div>
                        <div class="menu-section">Links</div>

                        <div class="menu-item">
                            <i class="fas fa-link"></i> Contact Us
                        </div>
                        <div class="menu-item">
                            <i class="fas fa-sign-out-alt"></i> Portal Board
                        </div>
                </aside>
            </div>
         </div>

            <!--
                *********************************************************
                ****************** content center ***********************
                *********************************************************
                -->

        <div class="left">
              <div class="new-post">
                <img src="assets/images/community/profile.png" alt="" class="profile">
                <input type="text" placeholder="Start a new post...">
                <BUtton class="add"> Add</BUtton>
              </div>
              <div class="all-postes">

                  <div class="linkedin-post">
                    <div class="post-header">
                        <img src="assets/images/community/profile.png" alt="Profile Picture" class="profile-pic">
                        <div class="post-info">
                            <h2>Mohammed A. Kameel</h2>
                            <p>Frontend Web Developer</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Thank you DEPI!
                            Proud to have successfully completed the DEPI frontend web development Angular track! This journey has been challenging but incredibly rewarding. I'm excited to apply my new skills and contribute to the tech world. Thank you to DEPI for providing me with this opportunity.</p>
                        <p>#DEPI #FrontendDevelopment #Angular #Achievement #Success #Learning</p>
                    </div>
                    <div class="post-footer">
                        <p>Liked by Esraa and 5 others</p>
                        <div class="post-actions">
                            <div class="like">
                                <img src="assets/images/community/like.jpeg " alt="">
                                <p>like</p>
                            </div>
                            <div class="comment">
                                <img src="assets/images/community/comment.jpeg " alt="">
                                <p>comment</p>
                            </div>
                            <p>6 Comments</p>
                        </div>
                    </div>
                </div>
                  <div class="linkedin-post">
                    <div class="post-header">
                        <img src="assets/images/community/profile.png" alt="Profile Picture" class="profile-pic">
                        <div class="post-info">
                            <h2>Rania Mahmude</h2>
                            <p>Frontend Web Developer</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Thank you DEPI! Proud to have successfully completed the DEPI frontend web development Angular track! I'm excited to apply my new skills and contribute to the tech world. Thank you to DEPI for providing me with this opportunity.</p>
                        <p>#DEPI #FrontendDevelopment #Angular #Achievement #Success #Learning</p>
                    </div>
                    <div class="post-footer">
                        <p>Liked by Esraa and 5 others</p>
                        <div class="post-actions">
                            <div class="like">
                                <img src="assets/images/community/like.jpeg " alt="">
                                <p>like</p>
                            </div>
                            <div class="comment">
                                <img src="assets/images/community/comment.jpeg " alt="">
                                <p>comment</p>
                            </div>
                            <p>6 Comments</p>
                        </div>
                    </div>
                </div>
                  <div class="linkedin-post">
                    <div class="post-header">
                        <img src="assets/images/community/profile.png" alt="Profile Picture" class="profile-pic">
                        <div class="post-info">
                            <h2> Asmaa Fawzy</h2>
                            <p>Frontend Web Developer</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Thank you DEPI! Proud to have successfully completed the DEPI frontend web development Angular track! This journey has been challenging but incredibly rewarding. Thank you to DEPI for providing me with this opportunity.</p>
                        <p>#DEPI #FrontendDevelopment #Angular #Achievement #Success #Learning</p>
                    </div>
                    <div class="post-footer">
                        <p>Liked by Esraa and 5 others</p>
                        <div class="post-actions">
                            <div class="like">
                                <img src="assets/images/community/like.jpeg " alt="">
                                <p>like</p>
                            </div>
                            <div class="comment">
                                <img src="assets/images/community/comment.jpeg " alt="">
                                <p>comment</p>
                            </div>
                            <p>6 Comments</p>
                        </div>
                    </div>
                </div>
                  <div class="linkedin-post">
                    <div class="post-header">
                        <img src="assets/images/community/profile.png" alt="Profile Picture" class="profile-pic">
                        <div class="post-info">
                            <h2> Hadeer Abd Elaziz</h2>
                            <p>Frontend Web Developer</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Thank you DEPI! Proud to have successfully completed the DEPI frontend web development Angular track! This journey has been challenging but incredibly rewarding. I'm excited to apply my new skills and contribute to the tech world.</p>
                        <p>#DEPI #FrontendDevelopment #Angular #Achievement #Success #Learning</p>
                    </div>
                    <div class="post-footer">
                        <p>Liked by Esraa and 5 others</p>
                        <div class="post-actions">
                            <div class="like">
                                <img src="assets/images/community/like.jpeg " alt="">
                                <p>like</p>
                            </div>
                            <div class="comment">
                                <img src="assets/images/community/comment.jpeg " alt="">
                                <p>comment</p>
                            </div>
                            <p>6 Comments</p>
                        </div>
                    </div>
                </div>

              </div>

        </div>
            <!--
            *********************************************************
            *************** content center right ********************
            *********************************************************
            -->
        <div class="right">
            <div class="card">
              <h1>Trending Posts</h1>
              <div class="post">
                <div class="top">
                    <img src="assets/images/community/tp-depi-logo.png" alt="Pharaoh Icon">
                    <p>The Digital Egypt Pioneers initiative is a key component of Egypt's digital transformation strategy and investing in students.</p>
                </div>
                  <h6>DEPI Community</h6>
                </div>
                <div class="post">
                    <div class="top">
                        <img src="assets/images/community/tp-icareer.png" alt="Handshake Icon">
                        <p>Engaging Executive CSR has partnered with INJAZ to bring you enhanced soft skills seminars & career mentoring opportunities.</p>
                    </div>
                    <h6>DEPI Community</h6>
                </div>
                <div class="post">
                    <div class="top">
                        <img src="assets/images/community/tp-angular.png" alt="Rings Icon">
                        <p>AUC Centennial Scholarships: experience pioneering research, and community-based projects in our state-of-the-art facilities.</p>
                    </div>
                    <h6>DEPI Community</h6>
                </div>
                <div class="post">
                    <div class="top">
                        <img src="assets/images/community/tp-reactjs.png" alt="Rings Icon">
                        <p>AUC Centennial Scholarships: experience pioneering research, and community-based projects in our state-of-the-art facilities.</p>
                    </div>
                    <h6>DEPI Community</h6>
              </div>
          </div>
        </div>
   </div>
</div>
