<div class="page">
  <div class="wrapper part1">
    <img src="/assets/images/depi-points/depi-banner2.jpg" alt="">
  </div>
  <div class="container">
    <div class="content">

      <div class="contact">
        <div class="DEPI">
          <h3><span>150
            </span>Points Available</h3>
          <p>You've accumulated a total of 1,200 DEPI Points by completing projects,
            contributing to the community, and attending
            events.<br>Keep going to unlock more rewards and grow your expertise!
          </p>

          <h2>How to Earn DEPI Points:</h2>
          <h6>Here are the ways you can eam more points to unlock exciting rewards:
          </h6>
          <ul>
            <li>Submit Your Project (once every 6 months)<br>
              Earn 500 points by submitting your project update
              to showcase your progress and receive feedback from peers.
            </li>
            <li>Complete Coding Challenges<br>
              Eam 150 points by finishing coding challenges designed to improve your skills.
            </li>
            <li>Attend Virtual or Physical DEPI Events<br>
              Attend our events to network and learn from professionals,
              and earn 100 points for your participation (minimum
              attendance of 30 minutes required).
            </li>
            <li>Participate in Community Discussions<br>
              Contribute actively to the community by sharing posts,
              commenting, and engaging with peers. Eam 50 points for every
              meaningful interaction (max 10 redemptions per month).
            </li>
            <li>Post Project Updates on Social Media<br>
              Share your latest project or milestones on social media using
              the #DEPIChallenge, and earn 75 points for inspiring
              others.
            </li>
          </ul>
          <h2>FAQ:</h2>
          <h6>How do I earn DEPI Points?</h6>
          <p>DEPI Points are earned by participating in our various activities such
            as completing coding challenges, submitting
            projects, and engaging with the community. Each action
            has its own point value, which gets added to your total points.</p>
          <h6>How do I redeem my points?</h6>
          <p>Redeeming your points is easy! Once you've collected enough points,
            simply visit the rewards section below and select a
            reward that suits your needs. Your points will be deducted upon redeeming.</p>
          <h6>When will my points be reflected in my account?</h6>
          <p>Redeeming your points is easy! Once you've collected enough points,
            Points will be reflected within 48 hours of completing a task or activity.
            Make sure your submissions and activity logs
            are accurate to ensure timely updates.</p>
          <h2>Rewards:</h2>
          <h6>Here's what you can redeem with your DEPI Points</h6>
          <div class="rewards">
            <div class="detail">
              <img src="/assets/images/depi-points/webinar-icon.png" alt="">
              <div class="text">
                <h5>Exclusive Access to Webinars<span>2000+ pts</span></h5>
                <p>Unlock access to our expert-led webinars on advanced front-end
                  topics like performance optimization, JS frameworks, and
                  modern CSS techniques. Requires 2,000 points.</p>
                <div class="line"></div>
                <p style="color: gray;">150/2000 points </p>
                <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Redeem Reward</a>
              </div>
            </div>
            <div class="detail">
              <img src="/assets/images/depi-points/mentorship-icon.png" alt="">
              <div class="text">
                <h5>Project Mentorship (1-on-1 Session)<span>3500+ pts</span></h5>
                <p>Get personal feedback and mentorship on your current project
                  from a senior developer. Perfect for overcoming obstacles in
                  your code.</p>
                <div class="line"></div>
                <p style="color: gray;">150/3500 Points</p>
                <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Redeem Reward</a>
              </div>
            </div>
          </div>
          <div class="next-sec">
            <div class="next-page">
          <a class="arrow" alt=""><i class="fa-solid fa-arrow-left"></i></a>
          <a class="next" [routerLink]="['']" routerLinkActive="active">Next Page <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          <p class="pages">page<span>1</span>of 100</p>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
