<div class="wrapper container d-flex justify-content-center align-items-center vh-100">
<div class="content">
  <div>
    <h2 class="catwgory-header">DEPI Tracks</h2>
  <p class="category-des text-muted w-50">
    Create and innovate in the World of Technology Digital Transformation is
    Your Opportunity.
  </p>
  </div>

  <h6>Your Courses</h6>

  <div class="courses rounded-top-3 p-2">
    <div class="row align-items-center">
      <div class="col-md-2 col-12 text-center mb-2 mb-md-0">
        <img class="logo" src="assets/images/depi-logo.png" alt="DEPI Logo" />
      </div>
      <div class="col-md-10 col-12">
        <h1 class="text-center text-md-start">
          DEPI - Frontend Web Developer (Angular)
        </h1>
        <p class="text-center text-md-start">
        Become a skilled Frontend Web Developer with our Angular track course, gain in-depth
        Knowledge of Angular frameworks, components, and best practices.
        </p>
        <div class="text-center text-md-start">
          <a class="dash" [routerLink]="'/home'">
            Dashboard <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="contact row align-items-center my-3">
    <div class="col-12 col-md-4">
      <img
        class="img-fluid"
        src="/assets/images/track/contact-us-amico.png"
        alt="Contact Us Illustration"
      />
    </div>
    <div class="col-12 col-md-8" style="padding-left: 150px;">
      <h4 class="text-capitalize">Contact Us</h4>
      <p class="text-muted">
        Need help or have questions? DEPIA, our AI assistant,
        <br> is available 24/7 to provide personalized support and
        <br> answers to your queries.

      </p>
      <a class="get-support btn btn-primary" [routerLink]="'/contact'">Get Support</a>
    </div>
  </div>
</div>
</div>
